body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans TC';
	background-color: #fafafa; 
}

hr {
	background-color: #ccc;
	height: 3px;
	border: 0px;
}

.frame {
	margin: 40px auto;
	padding: 40px 20px 40px 100px;
	width: 800px;
}

.personal-file {
	display: inline-block;
	height: 300px;
	width: 400px;
	vertical-align : top;
}

.personal-file h1 {
	margin: 20px 0px;
	font-size: 28px;
}

.personal-file a {
	text-decoration: none;
	text-decoration-line: none; 
	color: #3399ff;
}

.personal-file a:hover {
	text-decoration-line: underline; 
}

.personal-file p {
	letter-spacing: 2px;
}

.personal-pic {
	display: inline-block;
	margin: 25px 80px 25px 0px;
	vertical-align : top;
}

.personal-pic img {
	height: 200px;
	width: auto;
	border-radius: 1px; 
}

.skill-frame {
	margin-top: 20px;
	margin-bottom: 100px; 
}

.title {
	text-align: left;
	margin: 10px 0px;
	font-size: 28px
}

.skill-type {
	display: inline-block;
	margin: 10px 90px 10px 0px;
	padding: 0px;
	height: 100px;
	width: 300px;
	text-align: left;
}

.skill {
	font-size: 24px;
	font-weight: bold;
}

.exp {
	margin-top: 5px;
}

.exp-outer {
	margin: 3px 0px;
	padding: 5px;
	border: 3px solid black;
	border-radius: 15px;
}

.exp-per {
	height: 10px;
	background-color: #00e64d;
	border-radius: 15px;
}

.exp-1 {
	width: 220px;
}

.exp-2 {
	width: 180px;
}

.exp-3 {
	width: 120px;
}

.exp-4 {
	width: 140px;
}

.learning-frame {
	margin-bottom: 80px;
}

.learning-frame h3 {
	display: inline-block;
	margin: 30px 0px;
	padding: 0px;
	font-size: 24px;
}

.course {
	position: relative;
	display: inline-block;
	margin: 5px 80px 5px 0px;
	padding-top: 10px;
	height: 60px;
	width: 300px;
	font-size: 20px;
}

.learning-per {
	position: absolute;
	right: 10px;
	display: inline-block;
	margin-top: -5px;
	height: 50px;
	width: 50px;
	background-color: #ffad33;
	border-radius: 50%; 
}

.learning-per div {
	margin: 0px auto;
	margin-top: 6px;
	height: 38px;
	width: 38px;
	background-color: #fff;
	border-radius: 50%; 
	font-size: 12px;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
}

.course-udemy {
	position: relative;
	display: inline-block;
	margin: 5px 80px 5px 0px;
	padding-top: 10px;
	height: 60px;
	width: 450px;
	font-size: 20px;
}

.per-udemy {
	background-color: #ff4d4d;
}

.codecademy-color {
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
	height: 8px;
	width: 20px;
	background-color: #ffad33;
}

.udemy-color {
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
	height: 8px;
	width: 20px;
	background-color:  #ff4d4d;
}

.portfolio {
	margin: 60px 0px;
}

.portfolio-pic {
	position: relative;
	display: inline-block;
	height: 300px;
	width: 320px;
	border-radius: 5px;
	overflow: hidden;
	vertical-align: top;
	opacity: 0.8;
}

.to-portfolio {
	position: absolute;
	top: 70%;
	left: 50%;
	margin-top: -30px;
	margin-left: -60px;
	height: 50px;
	width: 140px;
	border-radius: 30px;
	font-size: 24px; 
	text-align: center;
	line-height: 50px;
	letter-spacing: 2px;
	background-color: #fff;
	box-shadow: 3px 5px 3px #333;
}

.to-portfolio a {
	text-decoration: none;
	color: black;
}

.to-portfolio:hover {
	transform: scale(1.1);
	transition:all 0.3s ease 0s;
}

.portfolio-pic img {
	height: 300px;
	width: 320px;
}

.portfolio-intro {
	display: inline-block;
	margin-left: 60px;
	height: 200px;
	width: 320px;
	vertical-align: top;
}

.portfolio-intro h3 {
	margin: 5px 0px;
	font-size: 28px;
	letter-spacing: 2px;
}

.portfolio-intro ul li {
	margin: 5px 0px;
	font-size: 20px;
	letter-spacing: 2px; 
}


@media screen and (max-width: 600px){
	
	.frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 375px;
		padding: 20px 10px;
	}

	.personal-file {
		width: 355px;
	}

	.skill-type {
		margin-right: 0px;
	}

	.course {
		margin-right: 0px;
	}

	.portfolio-intro {
		margin-top: 40px;
		margin-left: 0px
	}

	.course-udemy {
		margin: 5px 0px;
		width: 355px;
	}

}





